header {
  text-align: center;
  margin: 215px 265px 0 333px;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #000000;
}

.social-media-icons {
  list-style-type: none;
}

.hero-subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #828282;
}

.hero-description {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
  margin: 0 90px 100px;
}

.newsletter-subscription {
  text-align: center;
  margin: 20px 450px;
}

.new-book-cover {
  width: 295px;
  height: 395px;
}
