:root {
  --color-black: #000000;
  --color-grey-text: #828282;
  --color-grey-btn: #e6e6e6;

  --font-primary: "Inter", sans-serif;
  --font-secondary: "Roboto", sans-serif;

  --h1-size: 64px;
  --line-height: 150%;
  --h2-size: 48px;
  --h3-size: 32px;
}

body {
  font-family: var(--font-primary);
}
.homepage-hero {
  margin: 180px auto 0;
  max-width: 900px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
}

h1 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--h1-size);
  line-height: var(--line-height);
  color: var(--color-black);
  margin-right: 0;
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
  line-height: var(--line-height);
}

.hero-subtitle {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 24px;
  line-height: var(--line-height);
  color: var(--color-grey-text);
  margin-top: 25px;
}

.hero-description {
  font-weight: 500;
  font-size: 20px;
  line-height: var(--line-height);
  color: var(--color-black);
  margin: 0 0 180px;
  padding-left: 24px;
  padding-right: 24px;
}

.focus-themes-list {
  font-size: 24px;
}

.columns-text {
  font-size: 24px;
}

.new-book-cover-description {
  font-weight: 500;
  line-height: var(--line-height);
  font-size: 18px;
  margin-top: 0;
  max-width: 650px;
  margin-left: -40px;
}

.newsletter-subscription {
  margin: 80px auto 0;
  max-width: 900px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
}

.newsletter-subscription-text {
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
}

.newsletter-btn {
  padding: 10px 20px;
  margin-bottom: 60px;
}

.btn-link {
  font-weight: 500;
  font-size: 24px;
  line-height: var(--line-height);
  text-decoration: none;
}

.btn-grey {
  background-color: var(--color-grey-btn);
  color: var(--color-black);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  padding: 10px 20px;
}

.btn-grey:hover {
  background-color: #e6e6e699;
  color: var(--color-grey-text);
}

.main-btn,
.order-btn,
.newsletter-btn {
  font-size: 18px;
  padding: 12px 24px;
}

.order-btn {
  margin-left: 100px;
}

.focus-columns-section {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}

.new-book-cover {
  max-width: 100%;
  height: auto;
  display: block;
}

.navbar-logo {
  max-width: 150px;
}

footer {
  margin-bottom: 20px;
}

.copyright-mention {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

.social-media-icons {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.social-media-icons i {
  line-height: 1;
  display: block;
}

.social-media-icons a {
  text-decoration: none;
  color: var(--color-black);
}

.form-group {
  margin: 80px 0;
}

label {
  display: block;
  margin-top: 24px;
  font-size: 16px;
  line-height: var(--line-height);
  font-weight: 500;
}

input {
  margin-top: 8px;
}

.contact-form-header {
  margin-bottom: 63px;
}

.submit-button {
  margin-bottom: 150px;
  width: 100%;
  padding: 16px 32px;
}

.contact-page-container {
  margin: 180px auto 0;

  max-width: 700px;
}

.form-message {
  height: 180px;
}

.submit-file-input {
  margin-bottom: 24px;
}

.contact-page-header-paragraph {
  color: var(--color-grey-text);
  font-size: 24px;
  font-weight: 400;
  line-height: var(--line-height);
}

.contact-page-main {
  margin: 80px 0;
  font-size: 20px;
  font-weight: 500;
}
.about-page-profile-image {
  width: 384px;
  height: 350px;
  margin-top: 21px;
  margin-bottom: 57px;
}

.about-page-speaker-image {
  width: 404px;
  height: 295px;
  margin-top: 21px;
}

.about-page-container {
  margin: 180px auto 0;
  max-width: 1200px;
}

.about-page-header-subtitle {
  font-size: 24px;
  color: var(--color-grey-text);
}

.about-page-header-paragraph {
  font-size: 20px;
  margin-bottom: 21px;
}

.about-page-btn {
  margin-bottom: 27px;
  font-size: 24px;
  padding: 12px 24px;
  margin-bottom: 80px;
}

.about-page-main-header {
  margin-top: 20px;
}

.about-page-main-subtitle {
  font-size: 40px;
}

.about-page-main-subtitle-paragraph {
  font-size: 24px;
  color: var(--color-black);
}

.about-page-conference-section {
  padding-left: 65px;
  padding-top: 35px;
}

.books-container {
  margin: 180px auto 0;
  max-width: 1200px;
}

.books-image-1 {
  width: 293px;
  height: 395px;
  margin-bottom: 74px;
}

.books-image-2 {
  width: 293px;
  height: 395px;
}

.books-image-3 {
  width: 293px;
  height: 395px;
}

.books-paragraph {
  font-size: 20px;
  line-height: var(--line-height);
  font-weight: 500;
}

.books-header {
  margin-left: 200px;
  margin-bottom: 60px;
}

.books-header-header {
  font-size: 24px;
  line-height: var(--line-height);
  font-weight: 400;
  color: var(--color-grey-text);
}

.books-subtitle-header {
  font-size: 24px;
  line-height: var(--line-height);
  font-weight: 400;
  margin-bottom: 33px;
}

.books-row2 {
  margin-bottom: 51px;
  text-align: right;
}

.books-row3 {
  margin-bottom: 72px;
}

.book-description-1 {
  max-width: 700px;
  padding: 35px;
}

.book-description-2 {
  max-width: 700px;
  padding: 35px;
  text-align: left;
}

.book-description-3 {
  max-width: 700px;
  padding: 40px;
}

.submit-file-input {
  max-width: 300px;
}

.form-page-container {
  margin: 180px auto 0;

  max-width: 500px;
}

.subscription-form-header {
  font-size: 28px;
  margin: 0;
}

.pre-order-form-header {
  font-size: 28px;
}

.book-title {
  font-style: italic;
  opacity: 0.7;
}

.picture-book-speaker {
  margin-top: 230px;
  max-width: 500px;
  height: 595px;
}

.picture-new-book-release {
  margin-top: 100px;
  max-width: 500px;
  height: 595px;
}

.spam-filtering-box {
  margin-top: 5px;
}

.honeypot {
  display: none;
}

.unsubscribe-footer {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  body {
    padding-top: 150px;
  }

  .homepage-hero {
    margin: 150px 0 0 0;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
  }

  h1 {
    font-size: 38px;
    line-height: 56px;
  }

  h2 {
    font-size: 24px;
    margin-left: 50px;
  }

  .hero-subtitle {
    margin-left: 0;
    margin-right: 0;
    font-size: 14px;
  }

  .hero-description {
    margin: 16px 0 60px 0;
    font-size: 12px;
    line-height: var(--line-height);
  }

  .focus-themes-list li {
    font-size: 12px;
    margin: 0 35px;
  }

  .columns-text {
    font-size: 12px;
    margin: 15px 50px;
  }

  .newsletter-subscription {
    margin: 0;
  }

  .newsletter-subscription-text {
    font-size: 18px;
    line-height: 1;
    margin: 0;
  }

  .new-book-cover-description {
    font-size: 12px;
    margin: 20px auto 0;
    padding: 30px;
  }

  .copyright-mention {
    font-size: 12px;
  }

  .social-media-icons {
    margin-top: 10px;
    justify-content: center;
    margin-left: 0;
    padding-left: 0;
  }

  footer {
    text-align: center;
  }

  .main-btn,
  .order-btn,
  .newsletter-btn {
    font-size: 12px;
    padding: 4px 8px;
  }

  .order-btn {
    margin-left: 35px;
  }

  .order-btn a {
    font-size: 12px;
  }

  .new-book-cover {
    max-width: 50%;
    margin-left: 50px;
  }

  .main-btn {
    margin-left: 50px;
  }
  .newsletter-btn {
    margin-right: 30px;
  }

  /* responsiveness pre-order-signed-copy page */

  .picture-new-book-release {
    display: none;
  }

  .form-page-container {
    margin-top: 150px;
  }

  .pre-order-form-header {
    font-size: 24px;
    line-height: var(--line-height);
  }

  label {
    font-size: 12px;
  }

  .form-page-container .form-control {
    font-size: 12px;
  }

  /* responsiveness subscribe-to-newsletter page */

  small {
    font-size: 10px;
  }
  .newsletter {
    margin: 160px 20px 0;
  }

  .subscription-form-header {
    font-size: 18px;
    line-height: var(--line-height);
  }

  /* responsiveness unsubscribe-to-newsletter page */

  .newsletter-unsubscribe {
    margin: 160px 20px 0;
  }

    /* responsiveness contact page */

  .contact {
    margin: 160px 20px 0;
  }

  .contact-header{
    font-size: 32px;
  }

  .contact-page-header-paragraph{
    font-size: 16px;
  }

  .contact-page-main{
    font-size: 12px;
  }

  .contact-form-header{
    margin: 0;
  }

  .contact-page-container .form-control {
    font-size: 12px;
  }

  .contact-page-main{
    margin-top: 50px;
  }

  .contact-form{
    margin-top: 50px;
  }

.submit-margin{
  margin-bottom: 0;
}

}

@media (min-width: 992px) {
  h1 {
    margin-right: 75px;
  }

  .new-book-cover {
    max-width: 80%;
  }

  .navbar-nav .nav-link {
    font-size: 20px;
    margin-left: 60px;
  }
}
