.homepage-hero {
  margin: 180px auto 0;
  max-width: 900px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #000000;
  margin-right: 0;
}

h2 {
  font-size: 48px;
}

.focus-themes-list {
  font-size: 24px;
}

.columns-text {
  font-size: 24px;
}

.hero-subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #828282;
  margin-top: 25px;
}

.hero-description {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
  margin: 0 0 180px;
  padding-left: 24px;
  padding-right: 24px;
}

.newsletter-subscription {
  margin: 80px auto 0;
  max-width: 900px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
}

.newsletter-subscription-text {
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
}

.new-book-cover {
  max-width: 100%;
  height: auto;
  display: block;
}

.new-book-cover-description {
  font-weight: 500;
  line-height: 150%;
  font-size: 18px;
  margin-top: 0;
}

.copyright-mention {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

.social-media-icons {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.social-media-icons i {
  line-height: 1;
  display: block;
}

.social-media-icons a {
  text-decoration: none;
  color: #000000;
}

.btn-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
}

.btn-grey {
  background-color: #e6e6e6;
  color: #000000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  padding: 10px 20px;
}

.btn-grey:hover {
  background-color: #e6e6e699;
}

.footer-homepage {
  margin-bottom: 20px;
}

.newsletter-btn {
  padding: 10px 20px;
}

.main-btn,
.order-btn,
.newsletter-btn {
  font-size: 18px;
  padding: 12px 24px;
}

.focus-columns-section {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}

.navbar-logo {
  max-width: 150px;
}

@media (max-width: 576px) {
  body {
    padding-top: 150px;
  }

  .homepage-hero {
    margin: 150px 0 0 0;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
  }

  h1 {
    font-size: 38px;
    line-height: 56px;
  }

  h2 {
    font-size: 24px;
  }

  .hero-subtitle {
    margin-left: 0;
    margin-right: 0;
    font-size: 14px;
  }

  .hero-description {
    margin: 16px 0 60px 0;
    font-size: 12px;
    line-height: 150%;
  }

  .focus-themes-list li {
    font-size: 12px;
  }
  .columns-text {
    font-size: 12px;
  }

  .newsletter-subscription-text {
    font-size: 18px;
    line-height: 1;
  }

  .new-book-cover {
    max-width: 50%;
    height: auto;
  }

  .new-book-cover-description {
    font-size: 12px;
    padding-left: 20px;
    padding-right: 10px;
    margin-top: 40px;
  }

  .copyright-mention {
    font-size: 12px;
  }

  .social-media-icons {
    margin-top: 10px;
    justify-content: center;
    margin-left: 0;
    padding-left: 0;
  }

  .newsletter-subscription {
    margin: 50px auto 0;
  }

  .newsletter-subscription,
  .new-book-cover-description {
    text-align: left;
  }

  .btn-grey,
  .newsletter-btn {
    margin-left: 0;
  }

  .footer-homepage {
    text-align: center;
  }

  .main-btn,
  .order-btn,
  .newsletter-btn {
    font-size: 12px;
    padding: 8px 16px;
  }
}

@media (min-width: 992px) {
  h1 {
    margin-right: 75px;
  }

  .navbar-nav .nav-link {
    font-size: 24px;
  }
}
