.homepage-hero {
  text-align: center;
  margin: 215px 265px 0 333px;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #000000;
  margin-right: 75px;
}

h2 {
  font-size: 48px;
}

.focus-themes-list {
  font-size: 24px;
}

.columns-text {
  font-size: 24px;
}

li {
  font-size: 24px;
}

.hero-subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #828282;
  margin-top: 25px;
}

.hero-description {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
  margin: 0 90px 180px;
}

.newsletter-subscription {
  text-align: center;
  margin: 20px 180px 0 220px;
}

.newsletter-subscription-text {
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
}

.new-book-cover {
  width: 295px;
  height: 395px;
}

.news-section {
  margin-bottom: 100px;
  font-weight: 600;
}

.new-book-cover-description {
  font-weight: 500;
  line-height: 150%;
  font-size: 24px;
  margin-top: 40px;
}

.copyright-mention {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

.social-media-icons {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.social-media-icons i {
  line-height: 1;
  display: block;
}

.btn-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
}

main {
  margin: 0 150px;
}

.btn-grey {
  background-color: #e6e6e6;
  color: #000000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-left: 130px;
  margin-top: 10px;
  padding: 10px 20px;
}

.btn-grey:hover {
  background-color: #e6e6e699;
}

footer {
  margin-bottom: 20px;
}

.newsletter-btn {
  padding: 10px 20px;
}

.focus-columns-section {
  margin-left: 50px;
}
